@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}

.tarjeta-container .compra-button {
  width: 30%;
  height: 40px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 6px;
  padding: 5px;
  background-color: #fd9800;
  color: #fff;
}

.nav-container {
  background-color: #fd9800;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.nav-container img {
  height: 57px;
  width: 100px;
}
.nav-container ul {
  list-style: none;
  margin-top: 0;
  display: flex;
  justify-content: end;
}
.nav-container li a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  margin: 20px;
}
.nav-container li a:hover {
  color: #5a5a5a;
}

.nav-container .menu {
  display: none;
}

@media (max-width: 768px) {
  .nav-container {
    position: static;
  }
}
@media (max-width: 576px) {
  .nav-container ul {
    position: fixed;
    background-color: #fd9800;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: -500px;
    transition: 0.5s;
  }
  .nav-container ul li a {
    color: #fff;
  }
  ul:hover {
    right: 0px;
  }
  .nav-container .menu {
    display: block;
    z-index: 1;
  }
  .menu {
    display: block;
    font-size: 25px;
    color: #fff;
    margin: 5px;
  }
  .menu:hover + ul {
    right: 0;
  }
}
.tarjeta-container {
  height: 500px;
  width: 470px;
  background-color: #fff;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: 1s;
  border: #fd9800 2px solid;
}
.tarjeta-container:hover {
  transform: scale(1.05);
  opacity: 0.9;
  transition: 1s;
}
.tarjeta-container .tarjeta-title {
  font-size: 30px;
  color: #fd9800;
  margin-bottom: 10px;
}
.tarjeta-container .img-tarjeta {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: #fd9800 2px solid;
}
.tarjeta-container .compra-button:hover {
  background-color: #b65709;
  color: #fff;
}

.footer {
  font-size: 20px;
  background-color: #fd9800;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 10px;
  padding: 10px;
  align-items: center;
}
.footer .footer__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 10px;
}
.footer .footer__info img {
  width: 400px;
  height: 300px;
  float: left;
}
.footer .redes {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer .redes i {
  font-size: 40px;
}
.footer .redes i:hover {
  color: #5a5a5a;
}

.contactos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.contactos .map iframe {
  width: 60%;
  height: 350px;
  border-radius: 50px;
}

@media (max-width: 1200px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .redes {
    grid-column: 1/3;
  }
}
@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .redes {
    grid-column: auto;
  }
}
.galería-contenedor {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 200px);
  grid-gap: 10px;
  grid-template-areas: "img1 img1 img1 img2" "img1 img1 img1 img2" "img3 img3 img4 img4" "img5 img5 img4 img4" "img7 img6 img8 img8" "img7 img6 img8 img8";
}
.galería-contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid #000;
}
.galería-contenedor .img__1 {
  grid-area: img1;
}
.galería-contenedor .img__4 {
  grid-area: img2;
}
.galería-contenedor .img__8 {
  grid-area: img3;
}
.galería-contenedor .img__3 {
  grid-area: img4;
}
.galería-contenedor .img__7 {
  grid-area: img5;
}
.galería-contenedor .img__2 {
  grid-area: img8;
}
.galería-contenedor .img__6 {
  grid-area: img6;
}
.galería-contenedor .img__5 {
  grid-area: img7;
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form h2 {
  margin-bottom: 15px;
  font-size: 55px;
  color: #fd9800;
}
.container-form p {
  font-size: 25px;
  margin-bottom: 30px;
  max-width: 400px;
}
.container-form a {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: #000;
  font-weight: 700;
}
.container-form a .iconos {
  margin-right: 15px;
  color: #fd9800;
}
.container-form form .campo, .container-form textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 17px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: opx;
}
.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  max-height: 150px;
  min-height: 140px;
}
.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background-color: #fd9800;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0, 3 ease;
}
.container-form .btn-enviar:hover {
  background-color: #ac6a07;
}

@media (max-width: 768px) {
  .container-form {
    grid-template-columns: 1fr;
    grid-template-rows: 4;
  }
  .btn-enviar {
    grid-row: 4/5;
  }
}
.Titulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 550px;
  background-image: url(../multimedia/imagenes/cielo-nublado-rosa.jpg);
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #CE5937;
}
.Titulo h1 {
  max-width: 800px;
  font-size: 90px;
  color: #fd9800;
  text-align: center;
}

.Titulo__contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 550px;
  background-image: url(../multimedia/imagenes/cielo-nublado-rosa.jpg);
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #CE5937;
}
.Titulo__contacto h1 {
  max-width: 800px;
  font-size: 65px;
  color: #fd9800;
  text-align: center;
}

.Titulo__nosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 550px;
  background-image: url(../multimedia/imagenes/cielo-nublado-rosa.jpg);
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #CE5937;
}
.Titulo__nosotros h1 {
  max-width: 800px;
  font-size: 65px;
  color: #fd9800;
  text-align: center;
}

.sub-title {
  margin: 25px 25px;
  font-size: 30px;
  color: #ac6a07;
}

.info-container {
  margin: 25px 25px;
  margin-bottom: 45px;
}
.info-container .info {
  font-size: 25px;
  color: #000;
}

.contenedor-turismo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.galería-title {
  color: #000;
  font-size: 30px;
  margin: 55px 25px;
  max-width: 700px;
}

.nosotros {
  font-size: 50px;
  color: #fd9800;
  text-align: center;
  margin: 30px;
  text-shadow: 2px 2px 2px #CE5937;
}

.nosotros__desc {
  font-size: 20px;
  color: #000;
  border: #fd9800 4px solid;
  max-width: 900px;
  margin: auto;
}

.nosotros__info {
  font-size: 30px;
  color: #fd9800;
  margin: 30px;
  text-align: center;
  text-shadow: 2px 2px 2px #CE5937;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.carousel-item img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 576px) {
  .carousel {
    display: none;
  }
  .Titulo__contacto h1 {
    font-size: 70px;
  }
}

/*# sourceMappingURL=sttyle.css.map */
