 @mixin boton ($radius,$margin){
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background-color: $bg-color;
    color: #fff;
    border-radius: $radius;
    margin-bottom: $margin;
    cursor: pointer;
    transition: all 0,3 ease;
    &:hover{
      background-color: #ac6a07;
    }

 }
 