.nav-container{
    background-color: #fd9800;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    img{
      height: 57px;
      width: 100px;
    }
    
                        ul{
                          list-style: none;
                          margin-top: 0;
                          display: flex;
                          justify-content: end;

                        }
                        li a {
                            text-decoration: none;
                            color: #fff;
                            font-size: 30px;
                            margin: 20px;
                            
                            &:hover{
                                color: #5a5a5a;
                            }
                       }
                      
                      
}
.menu{
  display: none;
}



@media (max-width:768px) {
    .nav-container{
        position: static;
    }
}

@media (max-width:576px){
  .nav-container ul{
    position: fixed;
    background-color: #fd9800;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: -500px;
    transition: 0.5s;
    
    
    li a{
      color: #fff;
      
    }

  }
  ul:hover{
    right: 0px;
  }
 
  .menu{
    display: block;
    font-size: 25px;
    color: #fff;
    margin: 5px;
   
    &:hover+ ul{
      right: 0;
    }
  }
    
  
  
  }
  
   



  

  
 
