.tarjeta-container{
    height: 500px;
    width: 470px;
    background-color: $bg-color;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: 1s;
    border: $bg-color-secondary 2px solid;
    &:hover{
      transform: scale(1.05); 
      opacity: calc(0.9); 
      transition: 1s;
    }
                  .tarjeta-title{
                  font-size: 30px;
                  color: #fff;
                  margin-bottom:10px;  
                  text-shadow: 4px 3px 0px #7A7A7A;    
                   }
                      .img-tarjeta{
                          height: 350px;
                          width: 100%;
                          object-fit: cover;
                          border-radius: 10%;
                          border: #fff 2px solid;
                   }
                      .compra-button{
                          @extend %btn;
                          &:hover{
                          background-color: #5a5a5a;
                          color: #fff;
                           }
                   }   
                  
  }
