
@import "reset";
@import "navegador";
@import "footer";
@import "galeria";
@import "formulario";

.Titulo{
   padding: 50px;
    height: 430px;
    background-image: url(../multimedia/imagenes/paisae3.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.Titulo h1{
    width: 400px; 
    font-size: 155px;
    color: #4fd2fa;
}
.sub-title{
   margin: 25px 25px;
    font-size: 30px;
    color: #ac6a07;
}
.info-container{
  margin: 25px 25px;
    width: 900px;
    margin-bottom: 45px;
    .info{
        font-size: 25px;
        color: #000000;
    }
}

.contenedor-turismo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  
  .tarjeta-container{
    height: 350px;
    width: 500px;
    background-color: #fd9800;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
        .tarjeta-title{
        font-size: 30px;
        color: #fff;
        margin-bottom:10px;       
              }
                .img-tarjeta{
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                 }
                .compra-button{
                   height: 30px;
                   margin-bottom: 5px;
                   border-radius: 6px;
                   &:hover{
                    background-color: #5a5a5a;
                    color: #fff;
                   }
                 }   
    
  }
}

.galería-title{
  color: #000;
  font-size: 30px;
  margin: 55px 25px; 
  max-width: 700px;
}

    



.contacto a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #0b9ac5;
}
.contacto h2{
    font-size: 30px;
    color: #006483;
}
 

 


  .nosotros{
    font-size: 30px;
    color: #006483;
  }
  .nosotros-info{
    font-size: 25px;
    color: #0b9ac5;
    margin-top: 15px;
  }
  .ubicación{
    font-size: 20px;
    color: #4fd2fa;
    margin-top: 10px;
  }
  .map{
   
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
