
@import "reset";
@import "navegador";
@import "footer";
@import "galeria";
@import "formulario";


.Titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
   height: 430px;
   background-image: url(../multimedia/imagenes/cielo-nublado-rosa.jpg);
   background-size: cover;
   background-attachment: fixed;
  object-fit: cover; 
  margin-bottom: 10px;
}
   
.Titulo h1{
    max-width:  400px; 
    font-size: 90px;
    color: #fd9800;
}
.sub-title{
   margin: 25px 25px;
    font-size: 30px;
    color: #ac6a07;
}
.info-container{
  margin: 25px 25px;
    
    margin-bottom: 45px;
    .info{
        font-size: 25px;
        color: #000000;
    }
}

.contenedor-turismo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  
  .tarjeta-container{
    height: 350px;
    width: 500px;
    background-color: #fd9800;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
        .tarjeta-title{
        font-size: 30px;
        color: #fff;
        margin-bottom:10px;       
              }
                .img-tarjeta{
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                 }
                .compra-button{
                   height: 30px;
                   margin-bottom: 5px;
                   border-radius: 6px;
                   &:hover{
                    background-color: #5a5a5a;
                    color: #fff;
                   }
                 }   
    
  }
}

.galería-title{
  color: #000;
  font-size: 30px;
  margin: 55px 25px; 
  max-width: 700px;
}

    




 

 


  .nosotros{
    font-size: 30px;
    color:#fd9800;
  }
  .nosotros-info{
    font-size: 25px;
    color: #000;
    margin-top: 15px;
    border: #fd9800 2px solid;
  }
  .ubicación{
    font-size: 30px;
    color: #fd9800;
    margin-top: 10px;
  }
  .map{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px; 
  }
  
  .carousel-item img{
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  @media (max-width:576px) {
    .carousel{
      display: none;
    }
    
  }
