
@import "reset";
@import "variables";
@import "extend";
@import "mixin";
@import "navegador";
@import "tarjeta"; 
@import "footer";
@import "galeria";
@import "formulario";
@import "carousel";
@import "videos";

body{
   background-color: #FFA500;
}
.Titulo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 550px;
  background-image: url(../multimedia/imagenes/cielo-nublado-rosa.jpg);
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover; 
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #CE5937;
  h1{
    max-width:  800px; 
    font-size: 90px;
    color: $bg-color;
    text-align: center;
}
}
.Titulo__contacto{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 550px;
  background-image: url(../multimedia/imagenes/cielo-nublado-rosa.jpg);
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover; 
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #CE5937;
  h1
    {
      max-width:  800px; 
      font-size: 65px;
      color: $bg-color;
      text-align: center;
  }
  
}
.Titulo__nosotros{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 550px;
  background-image: url(../multimedia/imagenes/cielo-nublado-rosa.jpg);
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover; 
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #CE5937;
  h1{
    max-width:  800px; 
      font-size: 65px;
      color: $bg-color;
      text-align: center;
  }
}


   

.sub-title{
    font-weight: 700;
    margin: 25px 25px;
    font-size: 35px;
    color: #fff;
    text-shadow: 2px 2px 2px #000000
}
.info-container{
    margin: 25px 25px;   
    margin-bottom: 45px;
    .info{
        font-size: 30px;
        color: #fff;
        font-weight: 600;
    }
}

.contenedor-turismo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  
  }

.galería-title{
  color: #fff;
  font-size: 30px;
  margin: 55px 25px; 
  max-width: 700px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #000000
}
  .nosotros__subtitle{
    font-size: 50px;
    color:#fff;
    text-align: center;
    margin: 30px ;
    text-shadow: 2px 2px 2px #000;
  }
  .nosotros__desc{
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    max-width: 900px;
    margin: auto;
  }
  .nosotros__info{
    font-size: 40px;
    color: #fff;
    margin: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
  }
  
 
  
  @media (max-width:576px) {
   
    .Titulo__contacto h1{
      font-size: 70px;
    }
    
  }
  @media (max-width:480px){
    .Titulo__nosotros{
      h1{
        font-size: 40px;
      }
    }
    .Titulo__contacto{
      h1{
        font-size: 50px;
      }
    }
    .Titulo{
      h1{
        font-size: 50px;
      }
    }
    .sub-title{
     font-size: 30px;
  }

  }